{% extends "base.html" %}
{% block title %}Accueil - Gestion de stock{% endblock %}

{% block content %}
    <h1>Bienvenue sur l’application de gestion des stocks !</h1>
    <p>
        Cette application vous permet de :
        <ul>
            <li>Importer vos ventes depuis un fichier CSV</li>
            <li>Visualiser et prévoir les ventes grâce à l’IA Prophet</li>
            <li>Consulter les graphiques et exporter les résultats</li>
        </ul>
    </p>
    <p>
        Utilisez le menu ci-dessus pour commencer.<br>
        <b>Astuce :</b> Vous pouvez tester la prévision sans crainte, c’est sans risque pour vos données.
    </p>
{% endblock %}
